<style>
    #userMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        padding: 5px;
        background: #000;
    }

</style>



<div id="userMenu">
    <div class="menu-item <%= subZone=='Dashboard' ? 'menu-link active' : 'menu-link' %>"><a href="/users/dashboard">Dashboard</a></div>
    <div class="menu-item <%= subZone=='Settings' ? 'menu-link active' : 'menu-link' %>"><a href="/users/settings">Settings</a></div>
    <div class="menu-item <%= subZone=='Inventory' ? 'menu-link active' : 'menu-link' %>"><a href="/users/inventory">Inventory</a></div>
    <div class="menu-item <%= subZone=='Contacts' ? 'menu-link active' : 'menu-link' %>"><a href="/users/contacts">Contacts</a></div>
    <div class="menu-item <%= subZone=='Calander' ? 'menu-link active' : 'menu-link' %>"><a href="/users/calander">Calander</a></div>
    <div class="menu-item <%= subZone=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/users/help">Help</a></div>
</div>