<style>
    #resourcesMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        background: #000;
    }
</style>


<div id="resourcesMenu">
    <div class="menu-item <%= subZonePage=='Home' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources">Home</a></div>
    <div class="menu-item <%= subZonePage=='Text Editor' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources/text-editor">Text Editor</a></div>
    <div class="menu-item <%= subZonePage=='Code Editor' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources/code-editor">Code Editor</a></div>
    <div class="menu-item <%= subZonePage=='Calculators' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources/calculators">Calculators</a></div>
    <div class="menu-item <%= subZonePage=='Information' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources/information">Information</a></div>
    <div class="menu-item <%= subZonePage=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources/help">Help</a></div>
</div>