<style>
    .page-background {
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
    }
    .page-background img {
        min-width: 100%;
        max-width: 100vw;
        min-height: 100vh;
        opacity: 0.5;
    }
    .page-title {
        margin-top: 20px;
        width: 100%;
        min-width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-top: outset 1px rgba(255, 255, 255, 0.5);
        border-bottom: outset 1px rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px lightskyblue;
    }
    .page-title h2 {
        font-size: 2rem;
    }
    .toolbox-container {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.25), 0 0 2px #fff;
        width: 90%;
        margin: 0 auto;
        border-radius: 16px;
        padding: 8px;
        padding-bottom: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .toolbox-header {
        margin-bottom: 10px;
        text-align: center;
    }
    .toolbox-header h5 {
        font-size: 1.2rem;
    }
    .toolbox {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .toolbox-item-container {
        min-width: 50px;
        padding: 5px;
    }
    .toolbox-item {
        background: rgba(135, 206, 250, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 6px;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.25), 0 0 2px lightskyblue;
        text-align: center;
    }
    .toolbox-item i {
        color: #fff;
        padding: 5px;
        font-size: 2rem;
    }





    .learning-point-list {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .learning-point-list a {
        text-decoration: none;
        color: #fff;
    }
    .learning-point-item {
        width: 95%;
        min-width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.5);
        border-top: outset 1px rgba(255, 255, 255, 0.5);
        border-bottom: outset 1px rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px lightskyblue;
    }
    
    .learning-point-header {
    }
    .learning-point-header h3 {
        font-size: 1.8rem;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-bottom: outset 1px lightskyblue;
    }
    .learning-point-body p {
        padding: 20px;
        line-height: 1.6rem;
        font-size: 1.3rem;
        color: #fff;
        padding-bottom: 15px;
        text-indent: 15px;
    }
    .learning-point-actions {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .learning-point-actions span {
        color: lightskyblue;
        font-size: 1.2rem;
        padding: 5px;
    }
    .edit-class-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 16px;
        border-top: outset 1px rgba(255, 255, 255, 0.5);
        border-bottom: outset 1px rgba(255, 255, 255, 0.5);
    }
    .edit-class-button a {
        color: #fff;
        font-size: 1.3rem;
        text-decoration: none;
    }
    .edit-quiz-button {
        margin-bottom: 15px;
    }
    .take-quiz-container {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 16px;
        border-top: outset 1px rgba(255, 255, 255, 0.5);
        border-bottom: outset 1px rgba(255, 255, 255, 0.5);
    }
    .take-quiz-container a {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
    }
    .quiz-score {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .quiz-score p {
        color: #fff;
        font-size: 2rem;
        text-shadow: 0 0 2px rgba(135, 206, 250, 0.5);
    }
    .hide {
        display: none;
    }
</style>

<%- include('../../partials/menus/academy'); %>
<%- include('../../partials/menus/sub/academy/class', { classes: course.classes, currentCourse: course, currentPage: className.name}); %>


<div class="code-editor">
    <%- include('../../partials/tools/code-editor'); %>
</div>
<div class="page-background">
    <img src="/image/<%= course.background_image %>" alt="">
</div>

<div class="page-title">
    <h3>
        <%= course.course %>
    </h3>
    <h2>
        <%= className.name %>
    </h2>

</div>
<% if (userId.id=className.class_creator) { %>
    <div class="edit-class-button">
        <a href="/admin/academy/course/<%= course.id %>/class/<%= className.id %>">Edit Class</a>
    </div>
    <% } else { %>
        <span style="display: none;"></span>
        <% } %>

<div class="toolbox-container">
    <div class="toolbox-header">
        <h5>Course Tools</h5>
    </div>
    <div class="toolbox">
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-question-circle"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-hand-paper"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-code"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-folder"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-calculator"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-sticky-note"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-chalkboard-teacher"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-check"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-cogs"></i></p>
            </div>
        </div>

        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-file-code"></i></p>
            </div>
        </div>

        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-info"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-list"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-star"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fas fa-star-half-alt"></i></p>
            </div>
        </div>
        <div class="toolbox-item-container">
            <div class="toolbox-item">
                <p><i class="fab fa-wikipedia-w"></i></p>
            </div>
        </div>




    </div>
</div>



<div class="learning-point-list">
    <% learningPoints.forEach(function(learningPoint) { %>
        <div class="learning-point-item">
            <div class="learning-point-header">
                <h3><%= learningPoint.section_header %></h3>
            </div>
            <div class="learning-point-body">
                <p><%= learningPoint.section_body %></p>
            </div>
            <div class="learning-point-actions">
                <span>Save</span>
                <span>Add Note</span>
                <span>Share</span>
            </div>
        </div>
    <% }) %>
</div>


<div class="take-quiz-container">

    <% if (userId.id = className.class_creator) { %>
        <div class="edit-quiz-button">
            <a href="/admin/academy/course/<%= course.id %>/class/<%= className.id %>/quiz">Add/Edit Quiz Questions</a>
        </div>
    <% } else { %>
        <span style="display: none;"></span>
    <% } %>

    <% if (!allQuizzes) { %>
        <span style="display: none;"></span>
    <% } else { %>
        <p id="takenQuizId" style="display: none; background: lime; font-size: 1.5rem;"><%= allQuizzes.quiz_id %></p>
    <% } %>
    
    
    <% if (!quizzes) { %>
        <span style="color: #fff">No quiz added yet for this class.</span>
    <% } else { %>
        <p id="quizId" style="display: none; background: #fff; font-size: 1.5rem;"><%= quizzes.id %></p>
        <div class="quiz-score">
            <% if (!allQuizzes) { %>
                <span style="display: none;"></span>
            <% } else { %>
                <p>Quiz Grade: <%= allQuizzes.grade %>%</p>
            <% } %>
        </div>
        <a id="takeQuizBtn" href="/academy/course/<%= course.id %>/class/<%= className.id %>/quiz/<%= quizzes.id %>/take">Take Quiz for <%= className.name %></a>
    <% } %>
    

    
</div>




<script>


    const takenQuizIdContainer = document.getElementById('takenQuizId')
    const quizIdContainer = document.getElementById('quizId')
    let takeQuizBtn = document.getElementById('takeQuizBtn')
    if (takenQuizIdContainer) {
        const takenQuizId = takenQuizIdContainer.innerText
        const quizId = quizIdContainer.innerText
        console.log('takenQuizId: ' + takenQuizId)
        console.log('quizId: ' + quizId)

        if (takenQuizId === quizId) {
            console.log('Quiz already taken.')
            takeQuizBtn.classList.add('hide')
        }
    }

    if (quizIdContainer) {
        const quizId = quizIdContainer.innerText
    }
    if (!quizIdContainer) {
        console.log('NO QUIZ ADDED YET')
    }
    


</script>