<style>

</style>

<%- include('../../partials/menus/academy'); %>
<%- include('../../partials/menus/sub/academy/courses', { classes: course.classes, currentCourse: course.id, currentPage: className.name}); %>

<div class="page-title">
    <h2>
        <%= className.name %>
    </h2>
</div>

<% learningPoints.forEach(function(learningPoint) { %>
    <h5>
        <%= learningPoint.section_header %>
    </h5>
    <p><%= learningPoint.section_body %></p>
<% }) %>
