<style>
    .episode {
        width: 200px;
        background: red;
    }
    a {
        color: lightskyblue;
        font-size: 2rem;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    p {
        color: #fff;
        padding: 10px;
        font-size: 1.3rem;
    }

</style>

<%- include('../../partials/menus/entertainment'); %>


<%- include('../../partials/menus/sub/entertainment/tv', {showName: show.name, showId: showId}); %>

        <div class="sub-zone-page-title">
            <h2>
                <%= subZonePage %>
            </h2>
        </div>



            
            <div class="spread-container-anchor">

                <div class="spread-container">
                    <% season.episodes.forEach(function(episode) { %>
                        
                        <div class="spread-container-box-item">
                                            <div class="spread-container-header">
                                                <a href="/entertainment/tv/show/<%= showId %>/<%= episode.season_number %>/<%= episode.episode_number %>">Episode <%= episode.episode_number %></a>
                                            </div>
                                 <p><%= episode.overview %></p>
                            </div>
                            <% }) %>
                    </div>
                </div>