<style>
    a {
        color: lightskyblue;
        font-size: 2rem;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
</style>


<%- include('../../partials/menus/entertainment'); %>

<%- include('../../partials/menus/sub/entertainment/tv', {showName: subZone, showId: returnedData.id}); %>

<div class="sub-zone-page-title">
    <h2><%= subZonePage %></h2>
</div>

        <% returnedData.seasons.forEach(function(season) { %>
            <a href="/entertainment/tv/show/<%= showId %>/<%= season.season_number %>">Season <%= season.season_number %></a>
        <% }) %>

