<style>
    a {
        color: lightskyblue;
        font-size: 1.2rem;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .seasons-container {
        width: 100vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .season-container {
        max-width: 40vw;
        width: 120px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.25), 0 0 3px lightskyblue;
        position: relative;
    }
    .season-container a {
        min-height: 300px;
    }
    .season-background {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .season-background img {
        width: 100%;
        border-radius: 8px;    
        min-height: 100%;
    }
    .no-show-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        top: 50%;
        transform: translateY(50%);
    }
    .no-show-image img {
        width: 80%;
        height: 100px;
        max-height: 100px;
        margin: 0 auto;
        filter: drop-shadow(0 0 3px lightskyblue);
    }
    .season-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        text-align: center;
        background: rgba(135, 206, 250, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.25);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: outset 2px rgba(135, 206, 250, 0.75);
    }

</style>


<%- include('../../partials/menus/entertainment'); %>

<%- include('../../partials/menus/sub/entertainment/tv'); %>

<%- include('../../partials/menus/sub/entertainment/tv-show', {showName: subZonePage, seasonsList: returnedData.seasons, seasonName: '', seasonList: returnedData.seasons, showId: returnedData.id}); %>

<div class="sub-zone-page-title">
    <h2><%= subZonePage %></h2>
</div>

<div class="seasons-container">
        <% returnedData.seasons.forEach(function(season) { %>
            <div class="season-container">
                    <a href="/entertainment/tv/show/<%= showId %>/<%= season.season_number %>">
                    <div class="season-background">
                        <% if (season.poster_path === null) { %>
                            <div class="no-show-image">
                                <img src="/images/system/tv-icon.png" alt="">
                            </div>
                        <% } else { %>
                            <img src="https://image.tmdb.org/t/p/w500<%= season.poster_path %>" alt="">
                        <% } %>
                    </div>
                    <div class="season-header">
                        <h5><%= season.name %></h5>
                    </div>
                </a>
                </div>
        <% }) %>
</div>
